.movie-detail {
  text-align: center;
  padding: 2rem;
}
.movie-detail img {
  border-radius: 10px;
  margin-bottom: 1rem;
}
.providers {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.provider img {
  width: 50px;
  border-radius: 6px;
}
